@model UserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<form asp-action="ConfirmDelete" asp-route-id="@Model.Id">
    <partial name="PartialViews\_DetailsDeleteUserPartialView" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>

