@model RoleViewModel
@{
    ViewData["Title"] = "Creat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Creat New Role</h1>
<br />
<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="RoleName"></label>
        <input class="form-control" asp-for="RoleName" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-light" />
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</form>

 

